<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
</script>
<% end %>

<script type="text/javascript">
  window.images = {
    green_logo: "<%=asset_path("spotify-logo-png-2.png")%>",
    black_logo: "<%=asset_path("spotify-logo-black.png")%>",
    linked_in: "<%=asset_path("linked-in-white.png")%>",
    github: "<%=asset_path("github-logo-white.png")%>"

  }
</script>




<div id="root">RAILS IS SUPER DEAD AHHH</div>

